[Unit]
Description=Cmux Services Target
Requires=cmux-openvscode.service cmux-worker.service cmux-devtools.service cmux-vnc-proxy.service cmux-tigervnc.service
Wants=cmux-dockerd.service cmux-devtools.service cmux-vnc-proxy.service cmux-cdp-proxy.service cmux-tigervnc.service
After=cmux-openvscode.service cmux-dockerd.service cmux-devtools.service cmux-vnc-proxy.service cmux-tigervnc.service

[Install]
WantedBy=multi-user.target
